@use "base/reset";
@use "base/generales";
@use "componentes/navbar";
@use "componentes/footer";
@use "base/queries";
@use "pages/index";
@use "pages/fotos";
@use "pages/video";
@use "pages/dw";
@use "pages/identidad";
@use "componentes/animaciones";
@use "componentes/variables";
@use "componentes/extend";

